<form [formGroup] ="studentForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb=3">
        <label> Name</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Full Name" required>
    </div>


<div class="mb=3">
        <label> Email</label>
        <input type="email" formControlName="name" class="form-control" placeholder="Email" required>
    </div>

    <div class="mb=3">
        <label for = "name"> Student Course</label>
        <select class="form-control form-select form-select-lg mb-3" formControlName="student-course" placeholder="" required>
            <option value="B.tech" selected>B.tech</option>
            <option value="BCA" selected>BCA</option>
            <option value="MCA" selected>MCA</option>
            <option value="M.Tech" selected>M.tech</option>
            </select>
    </div>

    <div class="mb=3">
        <label> Fees</label>
        <input type="number" formControlName="fees" class="form-control" placeholder="Fees" required>
    </div>

    <div class="mb=3">
        <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid">Create</button>
       &nbsp; &nbsp; &nbsp; &nbsp;
       <button type="reset" class="btn btn-danger">Reset</button>
    </div>

    </form>